* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.happiness-section {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #E5D9FD;
    padding-bottom: 100px;
}

.image-div {
    display: flex;
    margin-left: 80px;
    
}
.image-div img {
    justify-content: flex-end;
}

.visual-div {
    text-align: left;
    margin-left: 20px;
    flex-direction: column;
    gap: 200px;
    
}
.visual-div h1 {
    font-size: 90px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    flex-wrap: wrap;
}

.visual-div p {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.visual-button {
    width: 163px;
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    height: 56px;
    border-radius: 64px;
    margin-top: 20px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border: none;
    
}
.workout-section {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #E5D9FD;
    
}

.image-div2 {


}

.visual-div2 {
    width:50%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.visual-div2 h1 {
    font-size: 90px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    flex-wrap: wrap;
    margin-left: 20px;
}

.visual-div2 p {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 20px;
}
.visual-button2 {
    width: 163px;
    background: linear-gradient(to right, #FF52AF, #9F53FF);
    height: 56px;
    border-radius: 64px;
    margin-top: 20px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border: none;
}

.follow-section {
    display: flex;
    padding-top: 200px;
    background-color: #E5D9FD;
    justify-content: center;
}

.follow-div {
    display: flex;
    align-items: center;
}
.follow-div h1 {
    font-size: ;
}
